# Rails / general
/log/*
/tmp/*
/coverage/
/.byebug_history

# Database
/db/*.sqlite3
/db/*.sqlite3-journal

# Rails credentials
/config/credentials.yml.enc
/config/master.key

# Secrets and environment
.env
.env.*.local

# Bundler & node_modules
/vendor/bundle
/node_modules

# Yarn / Webpacker / JS packs
/public/packs
/public/packs-test
/public/assets
/public/packs-test

# Ignore system files
.DS_Store
Thumbs.db
